.button{
    border: none;
    background: none;
}
.header_container{
    display: flex;
    justify-content: space-between;
    background-color: #9EAF7C;
}
.header_logo{
    margin:22px
  }
.header_button {
    background: none;
    border: none;
}
body{
    background: whitesmoke;
}
.card_front{
    transition: transform 0.8s ease-in-out 1s;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden;
}
.card_front:hover>.card_back{ 
    transform: perspective(450px) rotateY(-180deg);
}
.card_back:hover>.card_front{ 
    transform: perspective(450px) rotateY(-180deg);
}
.card_back{
    margin-top: 20px;
    position: absolute;
    width: 120%;
    overflow: hidden;
   
}
.card_img{
    object-fit: cover;
    width: 750px;
}
