dd::before {
    content: "🛈";
}
.header_container{
    display: flex;
    justify-content: space-between;
    background-color: #9EAF7C;
}
.header_logo{
    margin:22px
  }
.button {
    background: none;
    border: none;
}
.form {
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #9EAF7C;
    border: 1px solid black;}
.button1{
    background-color: #9EAF7C;
}
.button2{
    background-color: #9EAF7C
}
.input{
    width: 200px;
    border: 1px solid bisque;
}
.background{
    background-color: gray;
    width: 650px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.form-title{
font-size: 2rem;
}
.form-title{
    font-size: 2rem;
    }
    .form-container{
        color: black;
        font-size:3rem;
    }
    .checkmark{
        margin-left: 30px;
    }
    .checkmark::before {
        content: "";
        height: 25px;
        width: 25px;
        background-color: gray;
        position: absolute;
        left:0;
        top:0;
    }
    .Pseudoclass__label:hover .Pseudoclass__input + .checkmark::before {
        background-color: #22b422;
        box-shadow: 0 0 5px 1px white
    }
    .Pseudoelement__input:checked + .checkmark:after {
        display: block;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        content: "";
        position: absolute;
    }
    .Pseudoclass__input:checked + .checkmark {
        text-decoration: line-through
    }
    .Pseudoclass__input:checked + .checkmark {
        text-decoration: line-through
    }
    .Pseudoclass__label:nth-child(even) {
        color: #00FFFF;
    }
    
    .Pseudoclass__label:nth-child(odd) {
        color: orange;
    }
    .Pseudoclass__label:nth-child(even) {
        color: 	#00FFFF;
    }
    
    .Pseudoclass__label:nth-child(odd) {
        color: orange;
    }
    .Pseudoelement__input:checked + .checkmark {
        text-decoration: line-through
    }
    .Pseudoelement__input:checked + .checkmark {
        text-decoration: line-through
    }
    .Pseudoelement__label:nth-child(even) {
        color: #00FFFF;
    }
    
    .Pseudoelement__label:nth-child(odd) {
        color: orange;
    }
    .Pseudoelement__label:nth-child(even) {
        color: #00FFFF;
    }
    
    .Pseudoelement__label:nth-child(odd) {
        color: orange;
    }
    .Pseudoelement__label{
        position: relative;
        cursor: pointer;
        margin: 25px;
    }
    .Pseudoclass,.Pseudoelement{
        font-size: 2.4rem;
        border: 0;
        padding: 0;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    }
    .Pseudoclass__label{
        font-size: 1.5rem;
        margin: 25px;
        display: block;
        position: relative;
        cursor: pointer;
    }
    .Pseudoclass__label input {
        display: none
    }